<!DOCTYPE html>
<html>
<head>

		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

		<!--<script src="http://localhost:8001/LSManagementKit/client/javaScript/libs/jquery-3.1.1.min.js"></script>-->

		<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

		<script>

			function registerMember(){
				var userName = prompt("Please enter user name:", "");
				var startingAmount = prompt("Please enter starting amount:", "");
				
				$.ajax({
						
						url: 'http://localhost:8080/expenseSheet/registerUser?userName='+userName+'&initialBalanceAmount='+startingAmount,   
						dataType: 'jsonp',
						success: function(data) {

						// exchange rata data is stored in json.rates
						alert(json.rates.GBP);
					}
				});
				
			}
		  
		</script>

</head>
<body>

	<input type="button" onclick ="registerMember()" value="Register User">
	<input type="button" value="Record Expense">
	<input type="button" value="View Transactions">
	<input type="button" value="View Exort To CSV">

</body>
</html>